

.coupon{
    border: 1.5px solid #aaaaaa5d;
    border-radius: 10px;
    width: fit-content;
    .content_wrap{
        width: 200px;
        .content-top{
            span:nth-child(2){
                font-size: 0.85rem;
            }
        }
        .content-bottom{
            .btn{
                border-radius: 20px;
                font-size: 0.8rem;
            }
            a{
                font-size: 0.8rem;
            }
        }
    }
    .image{
        border-right: 0.5px dashed #000;
        position: relative;

        span{
            position: absolute;
            top: 47%;
            left: 40%;
            color: #fff;
            font-size: 1.15rem;
        }
    }
}